
html{
    font-size: 10px;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
}
.container{
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    position: relative;

}
.tailwind-container{
    width: 100%;
    padding: 0 1.6rem;
    margin: 0 auto;
    position: relative;
}
@media screen and (min-width: 576px) {
    .container {
        width: 54rem;
    }
}
@media screen and (min-width: 640px) {
    .tailwind-container {
        width: 64rem;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 72rem;
    }
    .tailwind-container {
        width: 76.8rem;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 96rem;
    }

}
@media screen and (min-width: 1024px) {
    .tailwind-container {
        width: 102.4rem;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 114rem;
    }

}
@media screen and (min-width: 1280px) {
    .tailwind-container {
        width: 128rem
    }
}
@media screen and (min-width: 1400px) {
    .container {
        width: 137rem;
    }
}
@media screen and (min-width: 1536px) {
    .tailwind-container {
        width: 153.6rem
    }
}
/*============================MAX-WIDTH==================================*/
@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}